<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
  <!--<form  action="{:U('userInformationRegistration')}" method="post"  enctype="multipart/form-data">-->
        <!--<p>实名：<input type="text" name="real_name"></p>-->
        <!--<p>昵称：<input type="text" name="nick_name"></p>-->
      <!--<p>密码：<input type="password" name="password"></p>-->
      <!--<p>学校：-->
          <!--<select name="campus_name">-->
              <!--<option >广东外语外贸大学</option>-->
              <!--<option >华南理工大学</option>-->
              <!--<option >广东工业大学</option>-->
          <!--</select>-->
      <!--</p>-->
      <!--<p>-->
          <!--学院：-->
          <!--<select name="institute_name">-->
              <!--<option >信息科学与技术学院</option>-->
              <!--<option >艺术学院</option>-->
              <!--<option >经济贸易学院</option>-->
          <!--</select>-->
      <!--</p>-->
      <!--<p>-->
          <!--专业：-->
          <!--<select name="major_name">-->
              <!--<option >软件工程</option>-->
              <!--<option >计算机科学与技术</option>-->
              <!--<option >网络工程</option>-->
              <!--<option>电子商务</option>-->
              <!--<option>信息管理</option>-->
          <!--</select>-->
      <!--</p>-->
      <!--<p>-->
          <!--年级：-->
          <!--<input type="text" name="grade">-->
      <!--</p>-->
      <!--<p>-->
          <!--身份：-->
          <!--<input type="text" name="identity">-->
      <!--</p>-->
      <!--<p>-->
          <!--手机号码：-->
          <!--<input type="text"  name="phone">-->
      <!--</p>-->
      <!--<p>-->
          <!--<input type="file" name="filename">-->
      <!--</p>-->
      <!--<input type="submit" value="提交">-->
  <!--</form>-->
  <!--<form  action="{:U('modifyPassword')}" method="post"  enctype="multipart/form-data">-->
      <!--<p>账号：<input type="text" name="phone"></p>-->
      <!--<p>密码：<input type="password" name="password"></p>-->
      <!--<p>新密码：<input type="password" name="new_password"></p>-->
      <!--<input type="submit" value="提交">-->
      <!--</form>-->
  <!--<form  action="{:U('saveImage')}" method="post"  enctype="multipart/form-data">-->
      <!--选择文件：  <input  type="file" name="files" >-->
      <!--<p><input type="submit" value="提交"></p>-->
      <!--</form>-->

   <!--发帖-->
  <!--<form  action="{:U('post')}" method="post"  enctype="multipart/form-data">-->
      <!--<p>手机号：<input type="text" name="phone"></p>-->
      <!--<p> 标题：<input type="text" name="title"></p>-->
      <!--<p> 内容：<textarea name="content"></textarea></p>-->
      <!--<p>学校：-->
      <!--<select name="campus_name">-->
      <!--<option >广东外语外贸大学</option>-->
      <!--<option >华南理工大学</option>-->
      <!--<option >广东工业大学</option>-->
      <!--</select>-->
      <!--</p>-->
      <!--<p>-->
      <!--学院：-->
      <!--<select name="institute_name">-->
          <!--<option >信息科学与技术学院</option>-->
          <!--<option >艺术学院</option>-->
          <!--<option >经济贸易学院</option>-->
      <!--</select>-->
      <!--</p>-->
      <!--<p>-->
          <!--类型：-->
          <!--<select name="type">-->
              <!--<option >学术</option>-->
              <!--<option >生活</option>-->
          <!--</select>-->
      <!--</p>-->
      <!--<p>-->
          <!--发布状态：-->
          <!--<select name="status">-->
              <!--<option >实名</option>-->
              <!--<option >匿名</option>-->
          <!--</select>-->
      <!--</p>-->
      <!--<p>-->
          <!--<input type="submit" value="提交">-->
      <!--</p>-->
      <!--</form>-->

      <!--评论-->
      <!--<form  action="{:U('comment')}" method="post"  enctype="multipart/form-data">-->
         <!--<p>-->
             <!--<textarea name="content"></textarea>-->
         <!--</p>-->
          <!--<p>-->
              <!--发布状态：-->
              <!--<select name="status">-->
                  <!--<option >实名</option>-->
                  <!--<option >匿名</option>-->
              <!--</select>-->
          <!--</p>-->
          <p>
              <input type="submit" value="提交">
          </p>
      <!--</form>-->

</body>
</html>